.navbar-container{
    width: 100%;
    height: 10%;
    background: #38A5DA;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar-container > h1 {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex;
    font-weight: bold;
    font-size: 20px;
}