.card-container {
    width: 85%;
    height: 65%;
    background: whitesmoke;
    margin-top: 7%;
    position: relative;
}

.page-container {
    width: 15%;
    height: 10%;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
}